html,
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
a,
p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  list-style: none;
  color: #000000;
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.sctitle {
  color: #2c2c2c;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 7px;
}
.bottom-line {
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: #2c2c2c;
}
.page-header-info {
  background-color: #084d82;
}
.page-header-info .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header-info .info img {
  width: 20px;
}
.page-header-info .info li {
  display: flex;
}
.page-header-info .info li a {
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.page-header-info .social-media {
  display: flex;
  padding-right: 0px;
}
.page-header-info .social-media img {
  width: 20px;
}
.page-header-info .social-media li a {
  padding: 8px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.page-header-info .info {
  display: flex;
  align-items: center;
}
.page-header-menu .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header-menu .wrapper .name {
  width: 150px;
}
.page-header-menu .wrapper .company a {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 0;
}
.page-header-menu li a {
  float: right;
  color: #5c5c5c;
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s;
}
.page-header-menu li a:hover {
  color: #000000;
  transition: 0.2s;
}
.page-header-menu .logo {
  width: 50px;
  padding-right: 15px;
}
.page-header-menu li.mobile,
.page-header-menu .menu-popup {
  display: none;
}
.page-header-menu .menu {
  display: flex;
}
.page-header-menu .menu li a {
  align-items: center;
  padding: 20px;
}
.page-content .company {
  text-align: center;
}
.page-content .company .container {
  background-color: #084d828e;
  background-image: linear-gradient(to right, #084d82af, #084d82af), url(../img/business.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  padding: 126px 0px;
}
.page-content .company .container .welcome {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}
.page-content .company .container .tagline {
  padding: 30px 0 60px 0;
  padding-bottom: 60px;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
}
.page-content .company .container .buttons {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 20px;
}
.page-content .company .container .buttons .box {
  width: 140px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 15px;
}
.page-content .company .container .buttons .box p {
  padding: 17px;
  font-size: 16px;
}
.page-content .company .container .buttons .our-projects .box {
  background-color: #00c5bb;
}
.page-content .company .container .buttons .our-projects p {
  color: #ffffff;
}
.page-content .company .container .buttons .learn-more .box {
  background-color: #e8e8e8;
}
.page-content .company .container .buttons .learn-more p {
  color: #595959;
}
.page-content .company .business {
  width: 1905px;
  height: 500px;
}
.page-content .services {
  padding: 30px 0;
  text-align: center;
}
.page-content .services .wrapper .container-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content .services .wrapper .container-grid .cell {
  width: 31%;
  height: 450px;
  background-color: #084d82;
  margin: 30px;
}
.page-content .services .wrapper .container-grid .cell img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}
.page-content .services .wrapper .container-grid .cell p.title {
  font-size: 23px;
  color: #fff;
  font-weight: 100;
  text-align: left;
  padding: 12px;
}
.page-content .services .wrapper .container-grid .cell p.subtitle {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  text-align: left;
  padding: 12px;
}
.page-content .us {
  padding: 30px 0;
  display: flex;
  text-align: center;
  background-color: #efefef;
}
.page-content .us .wrapper .container-grid {
  background-color: #efefef;
  margin: 50px 0;
  display: flex;
}
.page-content .us .wrapper .container-grid .cell {
  width: 20%;
  margin: 0 auto;
  height: 275px;
  border: 1px #b7b7b7 solid;
  background-color: #efefef;
}
.page-content .us .wrapper .container-grid .cell img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  object-fit: cover;
}
.page-content .us .wrapper .container-grid .cell p.title {
  font-size: 23px;
  color: #303030;
  text-align: center;
  padding: 12px;
}
.page-content .callback {
  background-color: #084d82;
}
.page-content .callback .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}
.page-content .callback .wrapper .box-text {
  width: 40%;
}
.page-content .callback .wrapper .box-text .bottom-line {
  background-color: #efefef;
  margin: 10px;
}
.page-content .callback .wrapper .box-text .title {
  color: #efefef;
  font-size: 40px;
  padding: 10px;
}
.page-content .callback .wrapper .box-text .subtitle {
  color: #efefef;
  font-size: 20px;
  padding: 10px;
}
.page-content .callback .wrapper .box-input {
  width: 60%;
}
.page-content .callback .wrapper .box-input::placeholder {
  color: gray;
}
.page-content .callback .wrapper .box-input ul input {
  padding-left: 13px;
}
.page-content .callback .wrapper .box-input select {
  padding-left: 13px;
}
.page-content .callback .wrapper .box-input input {
  width: 300px;
  padding: 15px 0 15px 0;
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px 10px;
  border: 2px solid rgba(33, 33, 33, 0);
  outline: none;
  transition: border-color 0.2s;
}
.page-content .callback .wrapper .box-input input:focus-within {
  border-color: #000000c5;
}
.page-content .callback .wrapper .box-input select {
  width: 300px;
  padding: 15px 0 15px 15px;
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px 10px;
  border: 2px solid rgba(33, 33, 33, 0);
  outline: none;
  color: grey;
  transition: border-color 0.2s;
}
.page-content .callback .wrapper .box-input ul {
  display: inline;
}
.page-content .callback .wrapper .box-input button {
  margin: 10px;
  width: 140px;
  font-size: 17px;
  padding: 18px 0 15px 0;
  align-items: center;
  justify-content: center;
  background-color: #23b46b;
  border: transparent;
  font-weight: bold;
  color: #ffffff;
  transition: 0.1s;
}
.page-content .callback .wrapper .box-input button:active {
  font-size: 17px;
  background-color: #1a9a5a;
  color: #c8c8c8;
  transition: 0.1s;
}
.page-content .projects {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.page-content .projects .wrapper p {
  color: #2c2c2c;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 7px;
}
.page-content .projects .container-grid {
  display: flex;
}
.page-content .projects .container-grid .cell {
  width: 33.3333%;
  margin: 50px 20px;
  height: 300px;
  background-color: #084d82;
}
.page-content .projects .container-grid .cell img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.page-content .projects .container-grid .cell .box {
  position: relative;
  height: 50px;
  top: -50px;
  background-color: #084d82c1;
  opacity: 100%;
  transition: 0.2s;
  overflow: hidden;
}
.page-content .projects .container-grid .cell .box:hover {
  top: -300px;
  height: 300px;
  background-color: #084d82c1;
}
.page-content .projects .container-grid .cell .box:hover p.subtitle {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.page-content .projects .container-grid .cell p.title {
  font-size: 23px;
  color: #fff;
  font-weight: 100;
  text-align: left;
  padding: 12px;
  opacity: 100%;
}
.page-content .projects .container-grid .cell p.subtitle {
  visibility: hidden;
  opacity: 0;
  font-size: 20px;
  color: #ffffff;
  font-weight: 100;
  text-align: left;
  padding: 12px;
  transition: 0.2s;
}
.page-content .statistics {
  background-image: linear-gradient(to right, #084d82c1, #084d82c1), url(../img/business-management-live.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 55%;
}
.page-content .statistics .wrapper {
  display: flex;
}
.page-content .statistics .wrapper .cell {
  padding: 30px 0;
  width: 33.3333%;
  margin: 0 20px;
}
.page-content .statistics .wrapper .cell .number {
  color: #efefef;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 0px;
}
.page-content .statistics .wrapper .cell .text {
  color: #efefef;
  text-align: center;
  font-size: 25px;
}
.page-content .news {
  padding: 30px 0;
  background-color: #efefef;
  display: flex;
  text-align: center;
}
.page-content .news .wrapper .container-grid {
  display: flex;
}
.page-content .news .wrapper .container-grid .cell {
  width: 33.3333%;
  margin: 30px 20px;
  background-color: #ffffff;
}
.page-content .news .wrapper .container-grid .cell img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}
.page-content .news .wrapper .container-grid .cell .container {
  display: inline-block;
  padding: 15px;
}
.page-content .news .wrapper .container-grid .cell .container p.title {
  font-size: 20px;
  color: #000000;
  font-weight: 100;
  text-align: left;
}
.page-content .news .wrapper .container-grid .cell .container p.subtitle {
  font-size: 17px;
  color: #525252;
  font-weight: 100;
  text-align: left;
  padding: 5px 0 10px 0;
}
.page-content .news .wrapper .container-grid .cell .container .info {
  display: flex;
  padding: 5px 0;
  align-items: center;
}
.page-content .news .wrapper .container-grid .cell .container .date-vector {
  color: #ffffff;
  object-fit: contain;
}
.page-content .news .wrapper .container-grid .cell .container .date-vector,
.page-content .news .wrapper .container-grid .cell .container .author-vector {
  height: 20px;
  width: 20px;
}
.page-content .news .wrapper .container-grid .cell .container .date {
  color: #525252;
  padding: 0 7px;
}
.page-content .news .wrapper .container-grid .cell .container .author-vector {
  color: #ffffff;
  object-fit: contain;
  padding-left: 10px;
}
.page-content .news .wrapper .container-grid .cell .container .author {
  color: #0072d5;
  transition: 0.2s;
  padding: 0 5px;
}
.page-content .news .wrapper .container-grid .cell .container .author:hover {
  color: #01a743;
  transition: 0.2s;
}
.page-content .news .wrapper .container-grid .cell .container .vertical-line {
  background-color: #525252;
  width: 1px;
  height: 24px;
}
.page-content .news .wrapper .container-grid .cell .container .box {
  background-color: #01a743;
  width: 105px;
  padding: 7px;
  text-align: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 2px;
}
.page-content .news .wrapper .container-grid .cell .container .box:hover {
  background-color: #1fbe5f;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.page-content .news .wrapper .container-grid .cell .container .box p {
  color: #ffffff;
}
.page-content .partners {
  padding: 30px 0;
  background-color: #ffffff;
  display: flex;
  text-align: center;
}
.page-content .partners .wrapper .container-grid {
  display: flex;
  justify-content: center;
}
.page-content .partners .wrapper .container-grid img {
  width: 30%;
  margin: 30px;
}
.page-content .testimonials {
  background-color: #084d828e;
  text-align: center;
  background-image: linear-gradient(to right, #084d82c1, #084d82c1), url(../img/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  padding: 50px 0;
}
.page-content .testimonials .wrapper p.sctitle {
  color: #ffffff;
}
.page-content .testimonials .wrapper .bottom-line {
  background-color: #ffffff;
}
.page-content .testimonials .wrapper .container-grid {
  display: flex;
}
.page-content .testimonials .wrapper .container-grid p {
  color: #ffffff;
}
.page-content .testimonials .wrapper .container-grid .name {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 7px;
}
.page-content .testimonials .wrapper .container-grid .occupation {
  font-size: 18px;
  font-weight: 400;
}
.page-content .testimonials .wrapper .container-grid .text {
  font-size: 20px;
  font-weight: 400;
}
.page-content .testimonials .wrapper .container-grid img {
  width: 150px;
  height: 150px;
  margin: auto;
}
.page-content .testimonials .wrapper .container-grid .cell {
  width: 50%;
  border: 1px solid #a3a3a3;
  display: flex;
  padding: 25px 0;
  margin: 50px 0;
}
.page-content .testimonials .wrapper .container-grid .textinfo {
  padding: 0px 15px;
}
.page-content .testimonials .wrapper .container-grid .cell.left {
  text-align: left;
  margin-right: 20px;
}
.page-content .testimonials .wrapper .container-grid .cell.right {
  text-align: right;
  margin-left: 20px;
}
.page-content .testimonials .wrapper .page-slider {
  padding-top: 40px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.page-content .testimonials .wrapper .page-slider .box {
  background-color: #ffffff;
  width: 40px;
  height: 5px;
  transition: 0.2s;
}
.page-content .testimonials .wrapper .page-slider .box:hover {
  cursor: pointer;
  background-color: #00d28c;
  transition: 0.2s;
}
.page-content .testimonials .wrapper .page-slider .box.active {
  background-color: #00d28c;
  width: 40px;
  height: 5px;
  transition: 0.2s;
}
.page-content .sign-up {
  padding: 30px 0 0 0;
  background-color: #ffffff;
  display: flex;
  text-align: center;
}
.page-content .sign-up .wrapper {
  align-items: center;
  justify-content: center;
}
.page-content .sign-up .wrapper p.sctitle {
  color: #2c2c2c;
}
.page-content .sign-up .wrapper .container-grid {
  padding: 50px 0;
}
.page-content .sign-up .wrapper .container-grid .box {
  width: 700px;
  margin: auto;
}
.page-content .sign-up .wrapper .container-grid .box p {
  text-align: center;
  font-size: 20px;
  color: #525252;
}
.page-content .sign-up .wrapper .container-grid .input {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.page-content .sign-up .wrapper .container-grid input {
  width: 100%;
  padding: 14px;
  font-size: 17px;
  box-sizing: border-box;
  border: 1px solid #01a743;
  outline: none;
  transition: 0.2s;
  justify-content: center;
}
.page-content .sign-up .wrapper .container-grid button {
  width: auto;
  font-size: 14px;
  padding: 4px 20px;
  background-color: #23b46b;
  border: transparent;
  color: #ffffff;
  transition: 0.1s;
  cursor: pointer;
}
.page-content .sign-up .wrapper .container-grid button:active {
  background-color: #1a9a5a;
  border: transparent;
  color: #c8c8c8;
  transition: 0.1s;
}
.page-footer {
  background-image: linear-gradient(to right, #084d82c1, #084d82c1), url(../img/79015AB87FD6D3284472876E1ACC3428.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
}
.page-footer .wrapper {
  display: flex;
  padding: 30px;
}
.page-footer .wrapper p,
.page-footer .wrapper a,
.page-footer .wrapper h1 {
  color: #fff;
}
.page-footer .wrapper h1 {
  font-size: 17px;
  font-weight: bold;
  margin: 8px;
}
.page-footer .wrapper ul {
  margin: 8px;
}
.page-footer .wrapper .info {
  display: inline-block;
  align-items: center;
}
.page-footer .wrapper .info .purpose {
  margin: 15px 0;
}
.page-footer .wrapper .info .purpose p {
  font-size: 17px;
}
.page-footer .wrapper .info .company a {
  display: flex;
  align-items: center;
}
.page-footer .wrapper .info .company .logo {
  width: 50px;
}
.page-footer .wrapper .info .company .name {
  width: 150px;
  margin: 0 15px;
}
.page-footer .wrapper .info .page-footer-social-media {
  display: flex;
  padding-right: 0px;
}
.page-footer .wrapper .info .page-footer-social-media .circle {
  width: 35px;
  height: 35px;
  background-color: #17a650;
  border-radius: 100%;
  margin-right: 15px;
  transition: 0.2s;
}
.page-footer .wrapper .info .page-footer-social-media .circle:hover {
  background-color: #2bb763;
  border-radius: 20px;
  transition: 0.2s;
}
.page-footer .wrapper .info .page-footer-social-media img {
  width: 20px ;
}
.page-footer .wrapper .info .page-footer-social-media li a {
  padding: 8px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.page-footer .wrapper .contact-us a {
  transition: 0.2s;
}
.page-footer .wrapper .contact-us a:hover {
  color: #15c38c;
  transition: 0.2s;
}
.page-footer .wrapper .contact-us ul {
  margin: 8px;
}
.page-footer .wrapper .contact-us ul li {
  display: flex;
  margin: 15px 0;
  align-items: center;
}
.page-footer .wrapper .contact-us img {
  width: 20px;
  padding-right: 10px;
}
.page-footer .wrapper .company-pages h1 {
  margin: 8px;
}
.page-footer .wrapper .company-pages a {
  transition: 0.2s;
}
.page-footer .wrapper .company-pages a:hover {
  color: #15c38c;
  transition: 0.2s;
}
.page-footer .wrapper .company-pages ul {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}
.page-footer .wrapper .company-pages ul li {
  display: flex;
  align-items: center;
  margin: 8px;
  transition: 0.2s;
}
.page-footer .wrapper .company-pages ul li:hover a {
  color: #15c38c;
  transition: 0.2s;
}
.page-footer .wrapper .company-pages ul li:hover .dot {
  background-color: #15c38c;
  transition: 0.2s;
}
.page-footer .wrapper .company-pages .dot {
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.2s;
}
.page-footer .wrapper .company-pages a:hover .dot {
  background-color: #15c38c;
}
.page-footer .wrapper .cell {
  width: 25%;
}
.page-footer .wrapper .gallery ul {
  padding: 15px 0;
}
.page-footer .wrapper .gallery ul li {
  display: inline;
}
.page-footer .wrapper .gallery img {
  margin: 2px;
  width: 30%;
  object-fit: cover;
  border-radius: 10px;
}
.page-footer .wrapper .dot {
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.2s;
}
.copyright {
  background-color: #005aa3;
  height: auto;
}
.copyright .wrapper p {
  font-size: 17px;
  text-align: center;
  color: #fff;
  padding: 5px 0;
}
