// out: ../css/media.css
@media (max-width: 1200px) {
}

@media (max-width: 900px) {
    .sctitle{
        font-size: 20px;
    }
    .bottom-line{
        width: 70px;
        height: 3px;
    }
    .page-header-info{
        .info{
            display: inline-block;
            img {
                width: 20px;
            }
            li {
                a{
                    font-size: 15px;
                }
            }
        }
        .social-media{
            display: none;
        }
    }
    .page-header-menu {
        .wrapper{
            .name{
                width: 120px;
            }
        }

        .logo{
            width: 45px;
            padding-right: 10px;
        }

        li.desktop {
            display:none;
        }

        li.mobile {
            display:inline-block;
            a{
                font-size: 17px;
            }
        }
        ul.menu-popup {
            text-align: center;
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: #ffffff;
            transform: translateX(100%);
            visibility: hidden;
            transition: .2s;
        }
        ul.menu-popup.active { 
            transform: translateX(-200%);
            visibility: visible;
            transition: .2s;
        }
    }
    .page-content {
        .company{
            text-align: center;
    
            .container{
                background-color: #084d828e;
                background-image: linear-gradient(to right, #084d82af, #084d82af),url(../img/business.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 25%;
                padding: 100px 0px;
    
                .welcome{
                    font-size: 20px;
                    color: #ffffff;
                    font-weight: bold;
                }
    
                .tagline{
                    padding-bottom: 40px;
                    font-size: 15px;
                    color: #ffffff;
                    font-weight: bold;
                }
    
                .buttons{
                    display: flex;
                    justify-content: center;
                    box-sizing: border-box;
                    font-size: 10px;
    
                    .box{
                        width: 150px;
                        text-align: center;
                        box-sizing: border-box;
                        border-radius: 4px;
    
                        p{
                            padding: 17px;
                        }
                    }
    
                    .our-projects{
                        .box{
                            background-color: rgb(0, 197, 187);
                        }
    
                        p{
                            color: #ffffff;
                        }
                    }
    
                    .learn-more{
                        .box{
                            background-color: rgb(232, 232, 232);
                        }
        
                        p{
                            color: #595959;
                        }
                    }
                }
                .business{
                    width: 1905px;
                    height: 500px;
                }
            }
        }
        .services {
            padding: 0;
            margin: 50px 0 0 0;
            .wrapper{
                .container-grid{
                    text-align: center;
                    display:inline-block;
                    .cell{
                        width: 85%;
                        height: auto;
                        margin: 40px auto;
                        img{
                            width: 100%;
                            height: 250px;
                        }
                        p.title{
                            font-size: 20px;
                        }
                        p.subtitle{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .us{
            .wrapper{
                .container-grid{
                    text-align: center;
                    display: inline;
                    .cell{
                        margin: 30px auto;
                        height: auto;
                        width: 80%;
                        img{
                            @img-scale: 210px;
                            width: @img-scale;
                            height: @img-scale;
                        }
                        p.title{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .callback{
            .wrapper{
                display: inline-block;
                padding: 30px;
                .box-text{
                    width: 100%;
                    .title{
                        font-size:20px;
                    }
                    .subtitle{
                        font-size: 15px;
                    }
                }
                .box-input{
                    width: 100%;
                    select{
                        padding:0;
                    }
                    @input-size: 100%;
                    @input-paddings: 8;
                    ul{
                        input{
                            padding:@input-paddings;
                            width: @input-size;
                            
                        }
                    }
                    select{
                        padding: @input-paddings;
                        width: @input-size;
                    }
                    button{
                        font-size: 15px;
                        width: 130px;
                    }
                }
            }
        }
        .projects{ 
            padding: 50px 0 0 0;
            .wrapper{
                .container-grid{
                    display: inline;
                    @img-height: 300px;
                    .cell{
                        width: 85%;
                        height: @img-height;
                        margin: 50px auto;
                        .box{
                            &:hover{
                                top: -100%;
                                height: @img-height;
                                background-color: #084d82c1;
                                p.subtitle{
                                    visibility: visible;
                                    opacity: 1;
                                    transition: .2s;
                                }
                            }
                        }
                        p.title{
                            font-size: 20px;
                            white-space: nowrap;
                            padding: auto;
                        }
                        p.subtitle{
                            font-size:15px;
                        }
                    }
                }
            } 
        }
        .statistics{
            .wrapper{
                .cell{
                    width: auto;
                    margin: 0 auto;
                    .number{
                        font-size: 30px;

                    }
                    .text{
                        font-size:15px;
                    }
                }
            }
        }
        .news{
            padding: 50px 0 0 0;
            .wrapper{
                .container-grid{
                    display: inline;
                    .cell{
                        margin: 50px auto;
                        width: 100%;
                        height: auto;
                        img{
                            height: 300px;
                        }
                        .container{
                            p.title{
                                font-size: 20px;
                            }
                            p.subtitle{
                                font-size: 15px;
                            }
                            .info{
                                .date-vector, .author-vector{
                                    width: 20px;
                                    height: 20px;
                                }
                                .date, .author{
                                    font-size: 10px;
                                }
                            }
                            .vertical-line{

                            }
                            .box{
                                float: right;
                                padding: 5px;
                                p{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .partners{
            .container{
                .wrapper{
                    p.sctitle{
                        font-size: 60px;
                    }
                }
            }
        }
        .testimonials{
            .wrapper{
                .container-grid{
                    display: inline-block;
                    margin: auto 0;
                    .name{
                        font-size: 20px;
                        padding-bottom: 7px;
                    }
                    .occupation{
                        font-size: 18px;
                        font-weight: 400;
                    }
                    .text{
                        font-size: 15px;
                        font-weight: 400;
                    }
                    img{
                        @avatar:100px;
                        width: @avatar;
                        height: @avatar;
                        margin: auto;
                    }
                    .cell{
                        padding: 15px 0;
                        width: 100%;
                    }
                    .cell.left, .cell.right{
                        margin: 40px auto;
                    }
                }
            }
        }
        .sign-up{

            padding: 30px 0;
            .wrapper{
                .container-grid{
                    padding: 0;
                    .box{
                        width: 100%;
                        p{
                            margin: 30px 0;
                            font-size: 15px;
                        }
                    }
                    .input{
                        margin: 10px;
                    }
                    input{
                        font-size: 15px;
                    }
                    button{
                        padding: 0 15px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .page-footer{
        .wrapper{
            display: inline-block;
            text-align: center;
            .cell{
                width: 90%;
                margin: auto;
            }
            h1{
                font-size: 15px;
            }
            .info{
                .purpose{
                    p{
                        font-size: 15px;
                    }
                }
                .company{
                    a{
                        justify-content: center;
                    }
                }
                .page-footer-social-media{
                    justify-content: center;
                    .circle{
                        margin: 10px;
                    }
                }

            }
            .contact-us{
                margin: 15px;
                a{
                    font-size: 12px;
                }
                ul{
                    justify-content: center;
                    li{
                        margin: 15px auto;
                    }
                }
                img{
                    width: 25px;
                }
            }
            .company-pages{
                a{
                    font-size: 15px;
                }
            }
        }

    }
    .copyright{
        .wrapper{
            
            p{
                font-size: 10px;
            }
        }
    }
}